<div style="margin-top: 20px;" class="d-flex">
    <h1 style="font-family: 'Teko'; font-size: 4rem; margin-left: 25px; width: max-content;"
        class="text-decoration-underline d-inline-block w-25">TASK MANAGER
</div>
<div class="container w-50">
    <%- include('reqcredalert.ejs') %>
</div>