<div style="margin-top: 20px;" class="d-flex">
    <h1 style="font-family: 'Teko'; font-size: 4rem; margin-left: 25px;"
        class="text-decoration-underline w-50 d-inline-block">TASK
        MANAGER
    </h1>
</div>
<div class="container w-50">
    <%- include('reqcredalert.ejs') %>
</div>