<div style="margin-top: 20px;">
    <h1 style="font-family: 'Teko'; font-size: 4rem; margin-left: 25px;">TASK MANAGER</h1>
</div>
<div id="headings" class="d-flex justify-content-around sticky-top text-light">
    <h3>New</h3>
    <h3>In-Progress</h3>
    <h3>Done</h3>
</div>