<% if(success.length> 0){ %>
    <div style="z-index: 5;" class="alert alert-success alert-dismissible fade show fixed-top w-50 mx-auto mt-5"
        role="alert">
        <%= success %>
    </div>
    <% } %>

        <% if(error.length> 0){ %>
            <div style="z-index: 5;" class="alert alert-danger alert-dismissible fade show  fixed-top w-50 mx-auto mt-5"
                role="alert">
                <%= error %>
            </div>
            <% } %>

                <script>
                    const alerts = document.querySelectorAll(".alert");
                    setTimeout(() => {
                        for (let alert of alerts) {
                            alert.remove();
                        }
                    }, 5000);
                </script>